.result-buttons {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.short-term {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}

.long-term {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  width: 65%;  
  margin: 0 auto;
}