 <div class="statistics">
  <ng-http-loader
  [backgroundColor]="'#ff4081'"
  ></ng-http-loader>
    <div class="result-buttons">
      <button mat-raised-button [color]="showToday ? 'accent' : ''" (click)="showShortTerm()">За сегодня</button>
      <button mat-raised-button [color]="showAll ? 'accent' : ''" (click)="showLongTerm()">За все время</button>
    </div>
    <div *ngIf="showToday" class="short-term">
      <app-short-term  [statistics]="todayStatistics"></app-short-term>
    </div>
    <div *ngIf="showAll" class="long-term">
      <app-bar-chart [fullStatisticArray]="fullStatisticArray" ></app-bar-chart>
      <app-line-chart [fullStatisticArray]="fullStatisticArray" ></app-line-chart>
    </div>
</div>


