.sprint {
  width: 800px;
  height: 100vh;
  margin: 0 auto;
}

.sprint-button-close {
  background-color: white;
  border: none;
  cursor: pointer;
}

.sprint-results {
  max-width: 600px;
  height: 60vh;
}
