.sprint {
  width: 100%;
  min-height: 100vh;
  background: rgb(145,140,228);
  background: radial-gradient(circle, rgba(145,140,228,0.4374124649859944) 0%, rgba(66,66,208,0.3225665266106442) 49%, rgba(58,185,205,0.46262254901960786) 100%);
  padding-top: 80px;
  margin-top: -64px;
}

.sprint-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
}

.sprint-button-close {
  background: none;
  border: none;
  cursor: pointer;
}

.sprint-results {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-again {
  max-width: 100px;
  align-self: center;
  margin-top: 20px;
}
