<div class="sprint">
  <ng-http-loader
  [backgroundColor]="'#ff4081'"
  ></ng-http-loader>
  <button
  class="sprint-button-close"
  style="float: right;"
  (click)="onCloseClick()"
  ><mat-icon color="accent">highlight_off</mat-icon></button>
  <app-start-view *ngIf="showStart" (clickBtn)="onButtonClick($event)"></app-start-view>
  <app-game-view *ngIf="showGame" [group]="level" (finishGame)="finishGame($event)"></app-game-view>
  <app-result-table *ngIf="showResults" [results]="results"></app-result-table>
</div>
