<mat-card *ngIf="!!_wordData" class="textbook__card">
  <mat-spinner *ngIf="!isImgDownload" [diameter]="260"></mat-spinner>
  <img mat-card-image [ngStyle]="{'display': isImgDownload ? 'block' : 'none'}" [src]="imgSrc" (load)="hideSpinner()">

  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title [ngClass]="{playedPhrase: isPlayedAudioWord}">
        {{_wordData.word}} - {{_wordData.wordTranslate}}
      </mat-card-title>
      <mat-card-subtitle>{{_wordData.transcription}}</mat-card-subtitle>
    </mat-card-title-group>
    <button mat-mini-fab (click)="playAudio()" [disabled]="this.isPlayedAudioWord || this.isPlayedAudioMeaning || this.isPlayedAudioExample">
      <mat-icon >play_arrow</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    <p [innerHTML]="'<span>Meaning: </span>' + _wordData.textMeaning"
      [ngClass]="{playedPhrase: isPlayedAudioMeaning}">
    </p>
    <p [innerHTML]="'<span>Example: </span>' + _wordData.textExample"
      [ngClass]="{playedPhrase: isPlayedAudioExample}">
    </p>
  </mat-card-content>

  <mat-card-content>
    <p [innerHTML]="'<span>Значение: </span>' + _wordData.textMeaningTranslate"></p>
    <p [innerHTML]="'<span>Пример: </span>' + _wordData.textExampleTranslate"></p>
  </mat-card-content>
</mat-card>
