* {
  margin: 0;
  box-sizing: border-box;
}

.main-page {
  background: #bcc6ff;
  padding-top: 4rem;
  margin-top: -64px;

  &__shadow {
    height: 64px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: -64px;
  }

  .about {
    max-width: 1024px;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0rem;

    @media screen and (max-width: 995px){
      padding: 2.5rem 0rem;
    }
    &__title {
      width: 50%;
      padding-left: 3rem;
    }

    &__h1 {
      font-size: 45px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 700;
      color: #3f51b5;
      margin-bottom: 2rem;
      line-height: 130%;
      @media screen and (max-width: 995px){
        font-size: 30px;
      }
    }

    &__subtitle {
      font-size: 20px;
      color: #232947;
      margin-bottom: 1.5rem;
      line-height: 150%;
      @media screen and (max-width: 995px){
        font-size: 16px;
      }
    }

    &__start-image {
      width: 50%;
    }

    &__big-ban {
      width: 100%;
    }

    &__button {
    }
  }

  .auth {
    max-width: 750px;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    padding: 5rem 5rem 3rem 5rem;
    @media screen and (max-width: 995px){
      padding: 2.5rem 2.5rem 1.5rem 2.5rem;
    }
    &__title {
      width: 100%;
    }

    &__h3 {
      font-size: 35px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 700;
      color: #3f51b5;
      margin-bottom: 2rem;
      line-height: 150%;
      @media screen and (max-width: 995px){
        font-size: 25px;
        margin-bottom: 1rem;
      }
    }

    &__subtitle {
      font-size: 20px;
      color: #232947;
      margin-bottom: 1.5rem;
      line-height: 150%;
      @media screen and (max-width: 995px){
        font-size: 16px;
      }
    }

    &__start-image {
      width: 70%;
      margin: 0 auto;
    }

    &__big-ban {
      width: 100%;
    }

    &__buttons {
      display: flex;
      gap: 2rem;
      justify-content: center;
      margin-bottom: 1rem;
    }
  }

  .features {
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    margin: 2rem auto 2rem auto;

    @media screen  and (max-width: 767px){
      flex-direction: column;
      gap: 10px;
    }

    &__textbook,
    &__games,
    &__statistic {
      width: 30%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media screen  and (max-width: 767px){
        width: auto;
      }
    }

    &__image {
      width: 100%;
      margin-top: auto;
    }

    &__title {
      margin-bottom: 2rem;
      color: #3f51b5;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 700;
    }
  }
}

.team {
  max-width: 750px;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 3rem;
  @media screen and (max-width: 995px){
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }
}
.example-card {
  width: 80%;
  margin: 1rem auto;
  background-color: rgb(241, 241, 241);
  display: flex;
}

.bin7 {
  width: 100%;
}

.bin7-wrapper {
  width: 133px;
  margin-top: -296px;
  position: relative;
  left: -213px;
  top: -302px;

  @media screen and (max-width:995px){
    display: none;
  }
}

.github {
  background-color: #3f51b5;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    transform: scale(1.1);
  }
}

mat-card-content {
  font-size: 1rem;
}

.card-image {
  margin-right: 1rem;
}

.team-title {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  color: #3f51b5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 3rem 0 3rem 0;
  @media screen and (max-width: 995px){
    font-size: 25px;
    margin: 1.5rem 0 1.5rem 0;
  }
}

.bin6 {
  width: 100%;
}

.bin6-wrapper {
  width: 335px;
  position: relative;
  left: 705px;
  top: -407px;
  @media screen and (max-width:995px){
    display: none;
  }
}

.main-page__team-wrapper {
  max-width: 1024px;
  overflow: hidden;
  height: 740px;
  margin: 0 auto;
  @media screen and (max-width:995px){
    height: auto;
  }
}

.footer {
  max-height: 120px;
  &__wrapper {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    color: white;
  }
  &__year {
    text-decoration: underline;
  }
  &__logo {
    width: 50px;
  }
  &__links {
    display: flex;
  }
  &__list {
    display: flex;
    gap: 1rem;
  }

  &__list-item {
    list-style: none;
  }
}

.footer__link {
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: underline;
  }
}

.card-middle {
  margin-left: -60px;
  @media screen  and (max-width: 767px){
    margin-left: auto;
  }
}
