<div class="main-page">
  <mat-card class="main-page__about about">
    <div class="about__title">
      <h1 class="about__h1">RS LANG</h1>
      <p class="about__subtitle">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod eaque vel dolore quaerat quis dignissimos natus molestiae quibusdam esse nostrum?</p>
      <button  class="about__button" mat-raised-button color="primary" (click)="goToTextBook()" >GO</button>
    </div>
    <div class="about__start-image">
      <img class="about__big-ban" src="../../../assets/main-image.jpg" alt="big-ban">
    </div>
  </mat-card>

  <mat-card class="main-page__auth auth">
    <div class="auth__title">
      <h3 class="auth__h3">Следи за процессом обучения</h3>
      <p class="auth__subtitle">Не забудь зарегистрироваться если хочешь видеть свою статистику и получать дополнительные возможности</p>
      <div class="auth__buttons">
        <button  class="auth__button" mat-raised-button color="primary" (click)="goToAuth()">Зарегистрироваться</button>
        <button  class="auth__button" mat-raised-button color="accent" (click)="goToAuth()">Войти</button>
      </div>

    </div>
    <div class="auth__start-image">
      <img class="auth__big-ban" src="../../../assets/auth.jpg" alt="">
    </div>
    <div class="bin7-wrapper"><img class="bin7" src="../../../assets/bin7.png" alt=""></div>

  </mat-card>


  <mat-card class="main-page__team team">

    <mat-card class="example-card">
      <mat-card-title-group>
        <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Frontend Developer</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eum nostrum ratione iure libero ipsa minus perferendis et quod doloribus, necessitatibus provident temporibus exercitationem officiis ullam, quae aliquam ipsum quibusdam.
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-title-group>
        <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Frontend Developer</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam laudantium quos ducimus consequatur asperiores natus at, aut dolorem eaque molestiae voluptatem inventore animi atque hic id debitis? Neque, dolores nulla.
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-title-group>
        <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Frontend Developer</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt explicabo excepturi et vitae delectus iste perferendis dolorem, quia animi quam eligendi officiis quisquam veritatis ab quidem, fuga ipsum tempora! Consequatur?
      </mat-card-content>
    </mat-card>
  </mat-card>
</div>

