:host {
  display: block;
  width: 400px;

  display: flex;
  flex-direction: column;

  p {
    margin-bottom: 0;
  }

  .card__games-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  ::ng-deep {
    .mat-card {
      min-height: 500px;
      display: flex;
      flex-direction: column;
    }

    .mat-card-actions {
      margin-top: auto;
      display: flex;
      flex-direction: column;
      gap: 8px;

      .mat-raised-button {
        width: 100%;
        margin: 0;
      }
    }
  }
}
