.result-buttons {
  margin: 20px;
  justify-content: center;
  display: flex;
  gap: 20px;
}

.result-title {
  text-align: center;
}

.donut {
  display: flex;
  justify-content: center;
}

.no-result-img {
  max-width: 500px;
  margin: 0 auto;
}
