<h2>Учебник</h2>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-form-field class="selector">
      <mat-label>Сложность</mat-label>
      <mat-select [(ngModel)]="group" (ngModelChange)="changeGroup()">
        <mat-option value="0">
          A1
        </mat-option>
        <mat-option value="1">
          A2
        </mat-option>
        <mat-option value="2">
          B1
        </mat-option>
        <mat-option value="3">
          B2
        </mat-option>
        <mat-option value="4">
          C1
        </mat-option>
        <mat-option value="5">
          C2
        </mat-option>
        <mat-option value="difficult" *ngIf="isSignIn">
          Сложные слова
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="selector">
      <mat-label>Страница</mat-label>
      <mat-select [(ngModel)]="page" (ngModelChange)="changePage()" [disabled]="group === 'difficult'">
        <mat-option *ngFor="let page of pageStatus; index as i " value="{{i}}">
          Страница {{i + 1}}
        </mat-option>

      </mat-select>
    </mat-form-field>

    <mat-button-toggle-group vertical [(ngModel)]="checkedWord" (ngModelChange)="changeWordCardData()">
      <mat-button-toggle *ngFor="let word of words;" value="{{word.word}}">
        <mat-icon color="primary" *ngIf="isSignIn && (word.userWord!.optional!.rating > 5)">check_circle</mat-icon>
        <mat-icon color="warn" *ngIf="isSignIn && (word.userWord!.optional!.rating < 3)">error</mat-icon>
        {{word.word}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-drawer>
  <mat-drawer-content>
    <app-word-card [wordData]="wordCardData"></app-word-card>
    <app-word-card-user *ngIf="isSignIn" [wordId]="wordCardData._id" [userData]="userWordData"
      (changeDifficulty)="updateUserWordData($event)"></app-word-card-user>
  </mat-drawer-content>
</mat-drawer-container>
