<ng-http-loader [backgroundColor]="'#ff4081'"></ng-http-loader>

<div class="wrapper" [ngClass]="getClass()">
  <div class="textbook__header">
    <h2>Учебник</h2>
    <div class="textbook__nav">
      <h2 *ngIf="group !== 'difficult'">Игры на этой странице</h2>
      <h2 *ngIf="group === 'difficult'">На этой странице игры недоступны</h2>
      <nav class="nav__container" *ngIf="group !== 'difficult'">
        <a mat-raised-button [routerLink]="'/sprint'" [queryParams]="{group: group, page: page}" color="primary"> Спринт
        </a>
        <a mat-raised-button [routerLink]="'/audio-challenge'" [queryParams]="{group: group, page: page}"
          color="primary">
          Аудиовызов </a>
      </nav>
    </div>
  </div>
  <mat-drawer-container [ngClass]="getPageClass()">
    <mat-drawer mode="side" opened>
      <mat-form-field class="selector">
        <mat-label>Сложность</mat-label>
        <mat-select [(ngModel)]="group" (ngModelChange)="changeGroup()" [disabled]="!!searchPattern">
          <mat-option value="0">
            A1
          </mat-option>
          <mat-option value="1">
            A2
          </mat-option>
          <mat-option value="2">
            B1
          </mat-option>
          <mat-option value="3">
            B2
          </mat-option>
          <mat-option value="4">
            C1
          </mat-option>
          <mat-option value="5">
            C2
          </mat-option>
          <mat-option value="difficult" *ngIf="isSignIn">
            Сложные слова
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="selector">
        <mat-label>Страница</mat-label>
        <mat-select [(ngModel)]="page" (ngModelChange)="changePage()"
          [disabled]="(group === 'difficult') || !!searchPattern">
          <mat-select-trigger [ngClass]="setSelectColor()">
            Страница {{+page + 1}}
          </mat-select-trigger>
          <mat-option *ngFor="let page of pageStatus; index as i " value="{{i}}">
            <mat-icon color="primary" *ngIf="isSignIn && (pageStatus[i] === 'learned')">check_circle</mat-icon>
            <mat-icon color="warn" *ngIf="isSignIn && (pageStatus[i] === 'difficult')">error</mat-icon>
            Страница {{i + 1}}
          </mat-option>

        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="standard" *ngIf="isSignIn">
        <mat-label>Поиск по имени</mat-label>
        <input matInput placeholder="Введите слово" [(ngModel)]="searchPattern"
          (ngModelChange)="searchPatternUpdate.next($event)">
        <button *ngIf="searchPattern" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>

      <mat-button-toggle-group *ngIf="words.length" vertical [(ngModel)]="checkedWord"
        (ngModelChange)="changeWordCardData()">
        <mat-button-toggle *ngFor="let word of words;" value="{{word.word}}">
          <mat-icon color="primary" *ngIf="isSignIn && (word.userWord!.optional!.rating > 5)">check_circle</mat-icon>
          <mat-icon color="warn" *ngIf="isSignIn && (word.userWord!.optional!.rating < 3)">error</mat-icon>
          {{getButtonWord(word)}}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-drawer>
    <mat-drawer-content>
      <app-word-card [wordData]="wordCardData" *ngIf="words.length"></app-word-card>
      <app-word-card-user *ngIf="isSignIn && !!words.length" [wordId]="wordCardData._id" [userData]="userWordData"
        (changeDifficulty)="updateUserWordData($event)"></app-word-card-user>
      <h2 *ngIf="isSignIn && !words.length && !searchPattern && group === 'difficult'">Сложные слова отсутствуют, так
        держать!</h2>
      <h2 *ngIf="searchPattern && searchPattern.length < 3">Для поиска введите как минимум 3 символа</h2>
      <h2 *ngIf="searchPattern && !words.length && searchPattern.length > 2">По запросу "{{searchPattern}}" совпадений
        нет</h2>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
