.sound {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 100%;

  &:hover {
    background-color: #e7e7e5;
    cursor: pointer;
  }
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
  width: 100%;
  margin: 4rem auto;

}

.green {
  background: green;
  color: white;
}

.red {
  background: red;
  color: white;
}

.result {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-image {
  width: 400px;
  border-radius: 1rem;
}

.card-data {
  font-size: 2rem;
  margin-top: 1rem;
}

.button-next {
  display: flex;
  justify-content: center;
}
