<div class="main-page">
  <div class="main-page__shadow"></div>
  <mat-card class="main-page__about about">
    <div class="about__title">
      <h1 class="about__h1">Английский язык с RS Lang</h1>
      <p fxShow fxHide.xs="true" fxHide.sm="true" class="about__subtitle">RS Lang - это удобное и эффективное приложение для изучения иностранных языков. Сервис включает в себя Учебник и две мини-игры: Спринт и Аудиовызов.
        Пополняй и тренируй индивидуальный запас слов. Достичь цели помогут игровые тренировки с переводом слов, словарными карточками и аудированием. Учи английский вместе с нами!</p>
        <p fxShow fxHide.lg="true" fxHide.md="true" fxHide.xl="true" class="about__subtitle">RS Lang - это удобное и эффективное приложение. Сервис включает в себя Учебник и две мини-игры: Спринт и Аудиовызов.
          Учи английский вместе с нами!</p>
      <a  class="about__button" mat-raised-button color="primary" [routerLink]="'/textbook'">Присоединяйся</a>
    </div>
    <div class="about__start-image">
      <img class="about__big-ban" src="assets/main-image.jpg" alt="big-ban">
    </div>
  </mat-card>

  <mat-card class="main-page__auth auth">
    <div class="auth__title">
      <h3 class="auth__h3">Авторизация</h3>
      <p class="auth__subtitle">Получи дополнительные возможности - следи за процессом обучения.</p>
      <div class="auth__buttons">
        <a  class="auth__button" mat-raised-button color="primary" [routerLink]="'/auth'" [queryParams]="{auth: true}" *ngIf="!_isSignIn">Регистрация</a>
        <a  class="auth__button" mat-raised-button color="accent" [routerLink]="'/auth'" *ngIf="!_isSignIn">Войти</a>
      </div>

    </div>
    <div class="auth__start-image">
      <img class="auth__big-ban" src="assets/auth.jpg" alt="">
    </div>
    <div class="bin7-wrapper"><img class="bin7" src="assets/bin7.png" alt=""></div>

  </mat-card>




  <section class="main-page__features features">

    <mat-card class="features__textbook">
      <mat-card-title-group>
        <mat-card-title class="features__title">Учебник</mat-card-title>
        <mat-card-subtitle>В нашем учебнике более 3500 слов, разделенные на группы разного уровня сложности</mat-card-subtitle>
      </mat-card-title-group>
      <div class="features__image"><img src="assets/textbook.jpg" style="width: 100%"></div>
    </mat-card>
    <mat-card class="features__games">
      <mat-card-title-group>
        <mat-card-title class="features__title">Игры</mat-card-title>
        <mat-card-subtitle>Учи слова легко и просто с помощью игр Спринт и Аудиовызов</mat-card-subtitle>
      </mat-card-title-group>
      <div class="features__image"><img src="assets/gamee.jpg" style="width: 100%"></div>
    </mat-card>
    <mat-card class="features__statistic">
      <mat-card-title-group>
        <mat-card-title class="features__title">Статистика</mat-card-title>
        <mat-card-subtitle>Для контроля своего прогресса в обучении и корректировки развития определенных навыков регистрируйся и заходи во вкладку Статистика.</mat-card-subtitle>
      </mat-card-title-group>
      <div class="features__image"><img src="assets/bb.jpg" style="width: 100%"></div>
    </mat-card>
  </section>






<section class="main-page__team-wrapper">
  <mat-card class="main-page__team team">

    <h2 class="team-title">Наша команда</h2>

    <mat-card class="example-card">
      <div class="card-image"><img mat-card-md-image src="assets/3av.png" ></div>
      <div>
        <mat-card-title-group>
          <mat-card-title>Anna Mamedava</mat-card-title>
          <mat-card-subtitle>Team leader, Frontend Developer </mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
          Игра Спринт, таблицы результатов, страница краткосрочной статистики.
        </mat-card-content>
        <a href="https://github.com/Hanna-Mamedova">
          <div class="github"><img src="assets/github.svg" alt="logo-github"></div>
        </a>
      </div>
    </mat-card>


    <mat-card class="example-card card-middle">
      <div class="card-image"><img mat-card-md-image src="assets/1av.png" ></div>
      <div>
        <mat-card-title-group>
          <mat-card-title>Pasha Burdavitsyn</mat-card-title>
          <mat-card-subtitle>Frontend Developer </mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
          Учебник, сервисы, сервер, авторизация, поиск по странице.
        </mat-card-content>
        <a href="https://github.com/Pas92">
          <div class="github"><img src="assets/github.svg" alt="logo-github"></div>
        </a>
      </div>
    </mat-card>


    <mat-card class="example-card">
      <div class="card-image"><img mat-card-md-image src="assets/2av.png" ></div>
      <div>
        <mat-card-title-group>
          <mat-card-title>Katsiaryna Shlemena</mat-card-title>
          <mat-card-subtitle>Frontend Developer </mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
          Игра Аудиовызов, графики, страницы: главная, авторизации, долгосрочной статистики, 404.
        </mat-card-content>
        <a href="https://github.com/Kate4ka007">
          <div class="github"><img src="assets/github.svg" alt="logo-github"></div>
        </a>
      </div>
    </mat-card>
  </mat-card>
  <div class="bin6-wrapper"><img class="bin7" src="assets/bin6.png" alt=""></div>
</section>


<footer class="footer">
<div class="footer__wrapper">
  <div class="footer__logo">
    <a href="https://rs.school/">
      <img src="assets/rs-logo.png" alt="logo" style="width: 100%">
    </a>
  </div>


  <div class="footer__links">
    <div>Наши контакты:</div>
    <ul class="footer__list">
      <li class="footer__list-item"><a class="footer__link" href="https://github.com/Hanna-Mamedova">
        Hanna-Mamedova
      </a></li>
      <li class="footer__list-item"><a class="footer__link" href="https://github.com/Pas92">
        Pas92
      </a></li>
      <li class="footer__list-item"><a class="footer__link" href="https://github.com/Kate4ka007">
        Kate4ka007
      </a></li>
    </ul>
  </div>
  <div class="footer__year">
    Created in 2022
  </div>
</div>

</footer>

</div>
