* {
  box-sizing: border-box;
}

.page-game {
  height: 100vh;
  background: url(../../../assets/audio-callenge-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: -64px;
  padding-top: 64px;
  overflow: hidden;
}

.sound {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 100%;
  &:hover {
    background-color: #0000000f;
    cursor: pointer;
  }
}

.button-container {
  margin: 0 auto;
  width: 230px;
  display: flex;
  justify-content: space-between;
}

.startPage {
  width: 200px;
  margin: 0 auto;

}


.btn-round {
  border-radius: 100%;
  padding: 20px;
}

.start-buttons-group {
  display: flex;
  gap: 20px;
  justify-content: center;
  @media screen and (max-width: 767px){
    flex-wrap: wrap;
  }

}

.start-page {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
}

.start-title {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  color: #252525;
  text-align: center;
}

.start-subtitle {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.start-level {
  font-size: 20px;
  text-align: center;
}

.game-start {
  padding: 2rem;
  @media screen and (max-width: 959px) {
    padding: 1rem;
  }
}

.start-controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 55vh;
  gap: 4rem;
}

.loader {
  margin: 0 auto;
}

.page-image {
  height: 200px;
  margin-top: -200px;
  position: fixed;
  @media screen  and (max-width: 767px){
    height: 120px;
    margin-top: -120px;
  }

  @media screen  and (max-width: 375px){
    height: 100px;
    margin-top: -100px;
    margin-left: -10px;
  }

}

.buttons-game {
  display: flex;
  gap: 2rem;
  justify-content: center;
  position: fixed;
  bottom: 30px;
}

