<ng-container class="short-term">
  <div class="short-term-wrapper">

    <mat-card class="total">
      <mat-card-title [innerText]="getWordsText(statistics.learnedWordsTotal, 'изученн')"></mat-card-title>
    </mat-card>

  <div class="game-numbers">
    <ng-container
*ngTemplateOutlet="gameCard;
context:
{$implicit: 'Аудиовызов',
newly: audioChallenge.newWords,
accuracy: getProcent(audioChallenge),
session: getSessionText(audioChallenge),
src: '../../../../assets/bin-audio-statistics.png'
}"></ng-container>

<ng-container
*ngTemplateOutlet="gameCard;
context:
{$implicit: 'Спринт',
newly: sprint.newWords,
accuracy: getProcent(sprint),
session: getSessionText(sprint),
src: '../../../../assets/bin-sprint-statistics.png'}"></ng-container>
  </div>

<app-donut-chart *ngIf="showDonut" [donutData] = 'donutData' class="donut"></app-donut-chart>
  </div>
</ng-container>

<ng-template
#gameCard
let-game
let-newly="newly"
let-accuracy="accuracy"
let-session="session"
let-src="src"
>
  <mat-card class="statistic-card">
    <img mat-card-lg-image class="card-image" [src]="src" alt="Photo of Mister Bin">
    <mat-card-content class="card-content">
    <mat-card-title>{{game}}</mat-card-title>
    <mat-card-subtitle [innerText]="getWordsText(newly, 'нов')"></mat-card-subtitle>
    <mat-card-subtitle> {{accuracy}}% точность</mat-card-subtitle>
    <mat-card-subtitle [innerText]="session"></mat-card-subtitle>
  </mat-card-content>
  </mat-card>
</ng-template>


