<div class="short-term">
  <div class="short-term-wrapper">

    <mat-card class="total">
      <mat-card-title>{{statistics.newWordsTotal}} изученных слов</mat-card-title>
    </mat-card>

  <div class="game-numbers">
    <ng-container
*ngTemplateOutlet="gameCard;
context:
{$implicit: 'Аудиовызов',
newly: audioChallenge.newWords,
procent: 0,
session: audioChallenge.bestSeries,
src: '../../../../assets/bin-audio-statistics.png'
}"></ng-container>

<ng-container
*ngTemplateOutlet="gameCard;
context:
{$implicit: 'Спринт',
newly: sprint.newWords,
procent: 5,
session: sprint.bestSeries,
src: '../../../../assets/bin-sprint-statistics.png'}"></ng-container>
  </div>

<app-donut-chart [resultArray] = 'resultArray' class="donut"></app-donut-chart>
  </div>
</div>

<ng-template
#gameCard
let-game
let-newly="newly"
let-procent="procent"
let-session="session"
let-src="src"
>
  <mat-card class="statistic-card">
    <img mat-card-image class="card-image" [src]="src" alt="Photo of Mister Bin">
    <mat-card-content class="card-content">
    <mat-card-title>{{game}}</mat-card-title>
    <mat-card-subtitle> {{newly}} новых слов</mat-card-subtitle>
    <mat-card-subtitle> {{procent}}% точность</mat-card-subtitle>
    <mat-card-subtitle> Лучшая сессия: {{session}} слова подряд</mat-card-subtitle>
  </mat-card-content>
  </mat-card>
</ng-template>


