<div class="spinner">
  <div class="spinner__container">
    <div class="spinner-background">{{spinner.value}}</div>
  <mat-progress-spinner #spinner
      color="accent"
      mode="determinate"
      value="75"
      strokeWidth="3"
      [diameter]="50"
      >
  </mat-progress-spinner>
  </div>
</div>
<div class="score">
  <div class="score-info">Очки * {{scoreLevel}}</div>
  <div class="score-total">Всего: {{totalScore}}</div>
  <mat-icon color="primary">check_circle</mat-icon>
</div>
<mat-card class="game-card">
  <div class="game-card__container">
    <mat-card-title>{{engWord}}</mat-card-title>
  <mat-card-subtitle>{{ruWord}}</mat-card-subtitle>
  <mat-card-actions>
    <button mat-raised-button color="accent">Неверно</button>
    <button mat-raised-button color="accent">Верно</button>
  </mat-card-actions>
  </div>
</mat-card>

